.top-nav {
    background-color: #eeeeee;
    height: 50px;
    position: relative;
}

.top-nav>span {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 750;
    display: absolute;
    margin-top: 17px;
    align-items: center;
    margin-left: 48px;
}

.top-nav>span>a {
    color: #666;
    text-decoration: none;
}

.top-nav>.top-nav-list {
    margin-left: 235px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
    gap: 30px;
}

.top-nav>.top-nav-list>li {
    cursor: pointer;
}

.top-nav>div>select {
    padding-left: 10px;
    position: absolute;
    top: 10px;
    right: 110px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid grey; */
}

.top-nav>div>select:focus {
    outline: none;
}

.top-nav>div>button>a {
    text-decoration: none;
    color: #000000d9;
}

@media only screen and (max-width: 650px) {
    .top-nav {
        background-color: #eeeeee;
        height: 100px;
        position: relative;
    }

    .top-nav>span {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 800;
        position: absolute;
        margin: 0px;
        top: 20px;
        left: 40px;

    }

    .top-nav>span>a {
        color: #666;
        text-decoration: none;
    }

    .top-nav>.top-nav-list {
        margin-left: 235px;
        list-style-type: none;
        position: absolute;
        top: 30px;
        margin: 5px;
    }

    .top-nav>div>select {
        padding-left: 10px;
        position: absolute;
        top: 35px;
        right: 6 0px;
        margin: 0px;
        width: 100px;
        height: 30px;
        background-color: white;
        border: none;
        /* border: 1px solid grey; */
    }

    .top-nav>div>select:focus {
        outline: none;
    }

    .top-nav>div>select>a {
        text-decoration: none;
        color: #000000d9;
    }
}


@media only screen and (max-width: 440px) {
    .top-nav {
        height: 120px;
    }

    .top-nav>span {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 800;
        position: absolute;
        margin: 0px;
        top: 10px;
        left: 40px;
        cursor: pointer;
    }

    .top-nav>.top-nav-list {
        margin-left: 235px;
        list-style-type: none;
        position: absolute;
        top: 25px;
        margin: 5px;
    }

    .top-nav>div>select {
        padding-left: 10px;
        position: absolute;
        top: 80px;
        left: 30px;
        margin: 0px;
        width: 100px;
        height: 30px;
        background-color: white;
        border: none;
        /* border: 1px solid grey; */
    }
}

/* top-navbar-ended */

/* navbar-started */
.nav-bar {
    background-color: white !important;
    /* height: 70px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-logo {
    margin-left: 50px;
    cursor: pointer;
}

.nav-list1 {
    font-size: 15px;
    margin-left: 320px;
}

.nav-list2 {
    font-size: 15px;
    cursor: pointer;
}

.nav-list3 {
    font-size: 15px;
    cursor: pointer;
}

.nav-list4 {
    font-size: 15px;
    cursor: pointer;
}

.nav-list5 {
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .nav-list1 {
        font-size: 15px;
        margin-left: 40px;
        /* text-align: center; */
    }
}

@media only screen and (max-width: 992px) {
    .nav-list1 {
        margin-top: 20px;
        margin-left: 0px;
        text-align: start;
    }
}

@media only screen and (max-width: 345px) {
    .nav-bar {
        background-color: white !important;
        /* height: 120px; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
}

form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 90px;

}

.nav-head2>form>input {
    border-radius: 5px;
    color: white;
    border: none;
    /* border: 2px solid #3b82f6; */
    font-size: 12px;
    width: 95px;
    height: 30px;
    background-color: #3b82f6;
    cursor: pointer;
}

.nav-head2>form>input:hover {
    background-color: #8dc63f;
}

@media only screen and (max-width: 1200px) {
    form {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1300px) {
    form {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 992px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 07px;
        margin-top: 07px;
        align-items: start;
        justify-content: none;
        margin-right: 0px;
    }
}


/* nav-bar-ended*/


/* body-started */
.main {
    position: relative;
}

.login {
    width: 100%;
    height: 200px;
    background-color: none;
}

.login-icon {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 220px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #8dc63f;
    cursor: pointer;
    /* background-color: #666; */
}

a>.login-icon>span {
    color: #000000d9;
    font-weight: 600;
    margin-left: 15px;
    text-transform: capitalize;
    cursor: pointer;
}

a>.login-icon>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 25px;
    color: #000000d9;
    opacity: 0.7;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.box-container{
    height: 180vh;
    /* background-color: #000000d9; */
}
.text-center {
    width: 100%;
    height: 235px;
    /* background-color: black; */
}

.top-boxes {
    height: 240px;
    /* margin: 0px auto; */
    height: 245px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-top: 70px; */
    /* padding-left: 25px; */
    /* margin-top: 50px; */
}

.column {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: none;
}

.box1>a {
    text-decoration: none;
}

#b1-name {
    width: 60%;
    background-color: none;
    margin: 0px auto;
    color: #3b82f6;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 17px;
    border-bottom: 1px solid #8dc63f;
    cursor: pointer;
}

#b1-input {
    margin-top: 5px;
    height: 100px;
    /* background-color: #3b82f6; */
}

#b1-input1 {
    margin-top: 15px;
    height: 45px;
    border: 2px solid #8dc63f;
    border-radius: 5px;
}

#b1-input1:focus {
    outline: none;
}

#b1-radio-btn {
    /* background-color: red; */
    margin-top: 10px;
    cursor: pointer;
}

.btn {
    font-family: sans-serif;
    font-weight: 600;
}

#b1-button {
    /* background-color: #3b82f6; */
    margin-top: 20px;
    cursor: pointer;
}

.box2-hover {
    height: 100%;
    width: 100%;
}


@media only screen and (max-width: 1115px) {
    .text-center {
        height: 280px;
    }

    .top-boxes {
        margin: 0px auto;
        height: 300px;
        width: 1005px;
        background-color: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* padding-top: 70px; */
        /* padding-left: 25px; */
        /* margin-top: 50px; */
    }

    .box1 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }

    .box2 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }

    .box3 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }

    .box4 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }
}

@media only screen and (max-width: 992px) {
    .text-center {
        height: 480px;
    }

    .top-boxes {
        height: 480px;
        width: 550px;
        /* background-color: black; */
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: space-evenly;
        align-items: center;
    }

    .column {
        display: flex;
        justify-content: center;
        background-color: none;
    }
}

@media only screen and (max-width: 768px) {
    .text-center {
        height: 500px;
        /* background-color: black; */
    }

    .box-container {
        width: 100%;
        height: 200vh;
        /* background-color: black; */
    }

    .top-boxes {
        row-gap: 50px;
        width: 77%;
        /* background-color: blue; */
        /* margin: 0px auto; */
    }

    .top-boxes {
        height: 500px;
    }


    #b1-input {
        margin-top: 1px;
        height: 100px;
        /* background-color: #3b82f6; */
    }

    #b1-input1 {
        margin-top: 10px;
        height: 45px;
        border: 2px solid #8dc63f;
        border-radius: 5px;
    }

    #b1-input1:focus {
        outline: none;
    }

    #b1-radio-btn {
        /* background-color: red; */
        margin-top: 10px;
    }

    .btn {
        font-family: sans-serif;
        font-weight: 600;
    }

    #b1-button {
        /* background-color: #3b82f6; */
        margin-top: 10px;
    }

    .box1 {
        /* background-color: #000000d9; */
        width: 225px;
        height: 220px;
    }

    .box2 {
        width: 225px;
        height: 220px;
    }

    .box3 {
        width: 225px;
        height: 220px;
    }

    .box4 {
        width: 225px;
        height: 220px;
    }
}

@media only screen and (max-width: 576px) {
    .text-center {
        height: 940px;
    }

    .top-boxes {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 42px;
        width: 80%;
        height: 1010px;
        /* background-color: black; */
    }

    .column {
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    #b1-input {
        margin-top: 10px;
        height: 100px;
        /* background-color: #3b82f6; */
    }

    #b1-input1 {
        margin-top: 5px;
        height: 45px;
        border: 2px solid #8dc63f;
        border-radius: 5px;
    }

    #b1-input1:focus {
        outline: none;
    }

    #b1-radio-btn {
        /* background-color: red; */
        margin-top: 10px;
    }

    .btn {
        font-family: sans-serif;
        font-weight: 600;
    }

    #b1-button {
        /* background-color: #3b82f6; */
        margin-top: 20px;
    }
}

@media only screen and (max-width: 310px) {
    .text-center {
        height: 147vh;
    }

    #b1-input {
        margin-top: 1px;
        height: 100px;
        /* background-color: #3b82f6; */
    }

    #b1-input1 {
        margin-top: 10px;
        height: 45px;
        border: 2px solid #8dc63f;
        border-radius: 5px;
    }

    #b1-input1:focus {
        outline: none;
    }

    #b1-radio-btn {
        /* background-color: red; */
        margin-top: 10px;
    }

    .btn {
        font-family: sans-serif;
        font-weight: 600;
    }

    #b1-button {
        /* background-color: #3b82f6; */
        margin-top: 10px;
    }

}

.box1 {
    border-radius: 5px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
    position: relative;
    /* background-color: black; */
}

.box2 {
    position: relative;
    border-radius: 5px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.box2>a {
    text-decoration: none;
}

.box2>a>h5 {
    margin: 5px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000d9;

}

.box3 {
    border-radius: 5px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
}

.box3>a {
    text-decoration: none;
}

.box3>a>h5 {
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000d9;
}

.box4 {
    border: 1px solid #8dc63f;
    border-radius: 5px;
    width: 230px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
}

.box4>a {
    text-decoration: none;
}

.box4>a>img {
    margin-top: 15px;
}

.box4>a>h5 {
    color: #000000d9;
    margin-top: 10px;
    /* padding-top: 10px; */
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    align-items: center;
    /* background-color: #000000d9; */
    width: 100%;
    height: 235px;
}

.second-row>div {
    width: 230px;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #8dc63f;
}

@media only screen and (max-width: 1115px) {
    .second-row {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 1010px;
        gap: 23px;
    }
}

@media only screen and (max-width: 992px) {
    .second-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 35px;
        column-gap: 50px;
        justify-content: center;
        justify-content: center;
        margin: 0px auto;
        margin-top: 20px;
        width: 699px;
        height: 520px;
        /* background-color: #000000d9; */
    }
}

@media only screen and (max-width: 768px) {
    .second-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: end; */
        padding-left: 5px;
        gap: 30px;
        row-gap: 50px;
        margin: 0px auto;
        margin-top: 28px;
        width: 80%;
        height: 520px;
        /* background-color: black; */
    }

    .second-row>div {
        /* margin-left: 3px; */
        width: 225px;
        height: 220px;
    }
}

@media only screen and (max-width: 576px) {
    .second-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* grid-row: 30px; */
        gap: 42px;
        margin-top: 70px;
        width: 80%;
        height: 1065px;
        /* background-color: #000000d9; */
    }

    .second-row>div {
        width: 234px;
        height: 220px;
    }
}

@media only screen and (max-width: 350px) {
    .second-row {
        width: 100%;
    }

    .second-row>div {
        width: 230px;
    }
}

.third-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    align-items: center;
    /* background-color: #000000d9; */
    width: 100%;
    height: 235px;
}

.third-row>div {
    width: 230px;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #8dc63f;
}

@media only screen and (max-width: 1115px) {
    .third-row {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 1010px;
        gap: 23px;
    }
}

@media only screen and (max-width: 992px) {
    .third-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 35px;
        column-gap: 50px;
        justify-content: center;
        margin-top: 15px;
        width: 700px;
        height: 520px;
        /* background-color: #000000d9; */
    }
}

@media only screen and (max-width: 768px) {
    .third-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* padding-left: 5px; */
        column-gap: 30px;
        row-gap: 18px;
        margin: 0px auto;
        margin-top: 15px;
        width: 80%;
        height: 550px;
        /* background-color: blue; */
    }

    .third-row>div {
        /* margin-left: 3px; */
        width: 225px;
        height: 220px;
    }
}

@media only screen and (max-width: 576px) {
    .third-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        gap: 42px;
        /* column-gap: 35px; */
        margin-top: 0px;
        width: 80%;
        height: 1028px;
        /* background-color: #000000d9; */
    }

    .third-row>div {
        width: 234px;
        height: 220px;
    }
}

@media only screen and (max-width: 350px) {
    .third-row {
        width: 100%;
    }

    .third-row>div {
        width: 230px;
    }
}

.fourth-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    align-items: center;
    /* background-color: #000000d9; */
    width: 50%;
    height: 235px;
}

.fourth-row>div {
    width: 230px;
    height: 220px;
    border-radius: 5px;
    border: 1px solid #8dc63f;
}

@media only screen and (max-width: 1115px) {
    .fourth-row {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 56%;
        gap: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .fourth-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 58px;
        justify-content: center;
        margin-top: 17px;
        width: 700px;
        height: 240px;
        /* background-color: #000000d9; */
    }
}

@media only screen and (max-width: 768px) {
    .fourth-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: end; */
        padding-left: 5px;
        gap: 30px;
        margin: 0px auto;
        margin-top: 17px;
        width: 80%;
        height: 440px;
        /* background-color: grey; */
    }

    .fourth-row>div {
        /* margin-left: 3px; */
        width: 225px;
        height: 220px;
    }
}

@media only screen and (max-width: 767px) {
    .text-center {
        /* background-color: black; */
        width: 100%;
    }

    .top-boxes {
        /* background-color: aqua; */
        width: 100%;
    }

    .second-row {
        /* background-color: black; */
        width: 100%;
    }

    .third-row {
        /* background-color: blue; */
        width: 100%;
    }

    .fourth-row {
        margin-top: 10px;
        height: 240px;
        width: 100%;
        /* background-color: black; */
    }
}   

@media only screen and (max-width: 576px) {
    .fourth-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 42px;
        margin-top: 3px;
        /* padding-top: 0px; */
        width: 80%;
        height: 530px;
        /* background-color: #000000d9; */
    }

    .fourth-row>div {
        width: 234px;
        height: 220px;
    }
}

@media only screen and (max-width: 350px) {
    .fourth-row {
        width: 100%;
    }

    .fourth-row>div {
        width: 230px;
    }
}

.box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #000000d9; */
    width: 100%;
    height: 100%;
}

.box5>h5 {
    color: #000000d9;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.second-row>div>a {
    text-decoration: none;
}

.box6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #000000d9; */
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.box6>h5 {
    color: #000000d9;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .box6>h5 {
        width: 227px;
    }
}

.box7 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.box7>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9;
}

.box8 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box8>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9;
}

.box9 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box9>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9
}

.third-row>div>a {
    text-decoration: none;
}

.box10 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box10>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9
}

.box11 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box11>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9;
}

.box12 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box12>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9;
}

.box13 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box13>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9;
}

.fourth-row>div>a {
    text-decoration: none;
}

.box14 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box14>h5 {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000d9;
}
@media only screen and (max-width: 290px){
    .second-row{
        width: 100%;
    }
    .second-row>div{
        width: 100%;
    }
    .third-row{
        width: 100%;
    }
    .third-row>div{
        width: 100%;
    }
    .fourth-row{
        width: 100%;
    }
    .fourth-row>div{
        width: 100%;
    }
}


/* donation-faqs */


.faqs{
    border: 1px solid black;
    /* background-color: black; */
    width: 100%;
    height: 600px;
}
/* .second-row>div>a{
    text-decoration: none;
    color: black;
} */

/* first-row-ended */
/* second-row-started */

/* .second-row {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
/* gap: 0px; */
/* align-items: center; */
/* width: 100%;
    height: 300px; */
/* background-color: #000000d9; */
/* }

.column1>div {
    border-radius: 5px;
    margin-left: 25px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
}

@media only screen and (max-width: 1115px) {
    .second-row {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: top;
        /* gap: 2px; */
/* margin-top: 20px; */
/* background-color: #000; */
/* width: 1005px;
        height: 300px; */
/* 
    }

    .column1.div {
        width: 220px;
        height: 225px;
    }
}

@media only screen and (max-width: 992px) {
.column1{
    display: none;
}
}    */