.top-nav {
    background-color: #eeeeee;
    height: 50px;
    position: relative;
}

.top-nav>span {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 750;
    display: absolute;
    margin-top: 17px;
    align-items: center;
    margin-left: 48px;
}

.top-nav>span>a {
    color: #666;
    text-decoration: none;
}

.top-nav>.top-nav-list {
    margin-left: 235px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
    gap: 30px;
}

.top-nav>.top-nav-list>li {
    cursor: pointer;
}

.top-nav>div>select {
    padding-left: 10px;
    position: absolute;
    top: 10px;
    right: 110px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid grey; */
}

.top-nav>div>select:focus {
    outline: none;
}

.top-nav>div>button>a {
    text-decoration: none;
    color: #000000d9;
}

@media only screen and (max-width: 650px) {
    .top-nav {
        background-color: #eeeeee;
        height: 100px;
        position: relative;
    }

    .top-nav>span {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 800;
        position: absolute;
        margin: 0px;
        top: 20px;
        left: 40px;

    }

    .top-nav>span>a {
        color: #666;
        text-decoration: none;
    }

    .top-nav>.top-nav-list {
        margin-left: 235px;
        list-style-type: none;
        position: absolute;
        top: 30px;
        margin: 5px;
    }

    .top-nav>div>select {
        padding-left: 10px;
        position: absolute;
        top: 35px;
        right: 6 0px;
        margin: 0px;
        width: 100px;
        height: 30px;
        background-color: white;
        border: none;
        /* border: 1px solid grey; */
    }

    .top-nav>div>select:focus {
        outline: none;
    }

    .top-nav>div>select>a {
        text-decoration: none;
        color: #000000d9;
    }
}


@media only screen and (max-width: 440px) {
    .top-nav {
        height: 120px;
    }

    .top-nav>span {
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 800;
        position: absolute;
        margin: 0px;
        top: 10px;
        left: 40px;
        cursor: pointer;
    }

    .top-nav>.top-nav-list {
        margin-left: 235px;
        list-style-type: none;
        position: absolute;
        top: 25px;
        margin: 5px;
    }

    .top-nav>div>select {
        padding-left: 10px;
        position: absolute;
        top: 80px;
        left: 30px;
        margin: 0px;
        width: 100px;
        height: 30px;
        background-color: white;
        border: none;
        /* border: 1px solid grey; */
    }
}

/* top-navbar-ended */

/* navbar-started */
.nav-bar {
    background-color: white !important;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-logo {
    margin-left: 50px;
    cursor: pointer;
}

.nav-list1 {
    font-size: 15px;
    margin-left: 320px;
}

.nav-list2 {
    font-size: 15px;
    cursor: pointer;
}

.nav-list3 {
    font-size: 15px;
    cursor: pointer;
}

.nav-list4 {
    font-size: 15px;
    cursor: pointer;
}

.nav-list5 {
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .nav-list1 {
        font-size: 15px;
        margin-left: 40px;
        /* text-align: center; */
    }
}

@media only screen and (max-width: 992px) {
    .nav-list1 {
        margin-top: 20px;
        margin-left: 0px;
        text-align: start;
    }
}

@media only screen and (max-width: 345px) {
    .nav-bar {
        background-color: white !important;
        height: 120px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
}

form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 90px;

}

.nav-head2>form>input {
    border-radius: 5px;
    color: white;
    border: none;
    /* border: 2px solid #3b82f6; */
    font-size: 12px;
    width: 95px;
    height: 30px;
    background-color: #3b82f6;
    cursor: pointer;
}

.nav-head2>form>input:hover {
    background-color: #8dc63f;
}

@media only screen and (max-width: 1200px) {
    form {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1300px) {
    form {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 992px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 07px;
        margin-top: 07px;
        align-items: start;
        justify-content: none;
        margin-right: 0px;
    }
}


/* nav-bar-ended*/


/* body-started */
.main {
    position: relative;
}

.login {
    width: 100%;
    height: 200px;
    background-color: none;
}

.login-icon {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 220px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #8dc63f;
    cursor: pointer;
    /* background-color: #666; */
}

a>.login-icon>span {
    color: #000000d9;
    font-weight: 600;
    margin-left: 15px;
    text-transform: capitalize;
    cursor: pointer;
}

a>.login-icon>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 25px;
    color: #000000d9;
    opacity: 0.7;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.text-center {
    width: 100%;
    height: 245px;
    background-color: none;
}

.top-boxes {
    width: ;
    /* margin: 0px auto; */
    height: 245px;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-top: 70px; */
    /* padding-left: 25px; */
    /* margin-top: 50px; */
}

.column {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: none;
}

.box1>a {
    text-decoration: none;
}

#b1-name {
    width: 60%;
    background-color: none;
    margin: 0px auto;
    color: #3b82f6;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 17px;
    border-bottom: 1px solid #8dc63f;
    cursor: pointer;
}

#b1-input {
    margin-top: 5px;
    height: 100px;
    /* background-color: #3b82f6; */
}

#b1-input1 {
    margin-top: 15px;
    height: 45px;
    border: 2px solid #8dc63f;
    border-radius: 5px;
}

#b1-input1:focus {
    outline: none;
}

#b1-radio-btn {
    /* background-color: red; */
    margin-top: 10px;
    cursor: pointer;
}

.btn {
    font-family: sans-serif;
    font-weight: 600;
}

#b1-button {
    /* background-color: #3b82f6; */
    margin-top: 20px;
    cursor: pointer;
}

.box2-hover {
    height: 100%;
    width: 100%;
}


@media only screen and (max-width: 1115px) {
    .text-center {
        height: 280px;
    }

    .top-boxes {
        margin: 0px auto;
        height: 300px;
        width: 1005px;
        background-color: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* padding-top: 70px; */
        /* padding-left: 25px; */
        /* margin-top: 50px; */
    }

    .box1 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }

    .box2 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }

    .box3 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }

    .box4 {
        width: 200px;
        height: 200px;
        border: 1px solid #8dc63f;
        /* background-color: black; */
    }
}

@media only screen and (max-width: 992px) {
    .text-center {
        height: 520px;
    }

    .top-boxes {
        height: 530px;
        width: 550px;
        background-color: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-evenly;
        align-items: center;
    }

    .column {
        display: flex;
        justify-content: center;
        background-color: none;
    }
}

@media only screen and (max-width: 768px) {
    .text-center {
        height: 500px;
    }

    .box-container {
        width: 100%;
        height: 200vh;
        background-color: none;
    }

    .top-boxes {
        width: 100%;
        background-color: none;
        margin: 0px auto;
    }

    .top-boxes {
        height: 500px;
    }


    #b1-input {
        margin-top: 1px;
        height: 100px;
        /* background-color: #3b82f6; */
    }

    #b1-input1 {
        margin-top: 10px;
        height: 45px;
        border: 2px solid #8dc63f;
        border-radius: 5px;
    }

    #b1-input1:focus {
        outline: none;
    }

    #b1-radio-btn {
        /* background-color: red; */
        margin-top: 10px;
    }

    .btn {
        font-family: sans-serif;
        font-weight: 600;
    }

    #b1-button {
        /* background-color: #3b82f6; */
        margin-top: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .text-center {
        height: 940px;
    }

    .top-boxes {
        text-align: center;
        width: 100%;
        height: 930px;
        background-color: none;
    }

    .column {
        background-color: none;
        display: flex;
        justify-content: center;
    }

    #b1-input {
        margin-top: 10px;
        height: 100px;
        /* background-color: #3b82f6; */
    }

    #b1-input1 {
        margin-top: 5px;
        height: 45px;
        border: 2px solid #8dc63f;
        border-radius: 5px;
    }

    #b1-input1:focus {
        outline: none;
    }

    #b1-radio-btn {
        /* background-color: red; */
        margin-top: 10px;
    }

    .btn {
        font-family: sans-serif;
        font-weight: 600;
    }

    #b1-button {
        /* background-color: #3b82f6; */
        margin-top: 20px;
    }
}

@media only screen and (max-width: 310px) {
    .text-center {
        height: 147vh;
    }

    #b1-input {
        margin-top: 1px;
        height: 100px;
        /* background-color: #3b82f6; */
    }

    #b1-input1 {
        margin-top: 10px;
        height: 45px;
        border: 2px solid #8dc63f;
        border-radius: 5px;
    }

    #b1-input1:focus {
        outline: none;
    }

    #b1-radio-btn {
        /* background-color: red; */
        margin-top: 10px;
    }

    .btn {
        font-family: sans-serif;
        font-weight: 600;
    }

    #b1-button {
        /* background-color: #3b82f6; */
        margin-top: 10px;
    }

}

.box1 {
    border-radius: 5px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
    position: relative;
    /* background-color: black; */
}

.box2 {
    position: relative;
    border-radius: 5px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.box2>a {
    text-decoration: none;
}

.box2>a>h5 {
    margin: 5px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000d9;

}

.box3 {
    border-radius: 5px;
    width: 230px;
    height: 220px;
    border: 1px solid #8dc63f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
}

.box3>a {
    text-decoration: none;
}

.box3>a>h5 {
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000d9;
}

.box4 {
    border: 1px solid #8dc63f;
    border-radius: 5px;
    width: 230px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
}

.box4>a {
    text-decoration: none;
}

.box4>a>img {
    margin-top: 15px;
}

.box4>a>h5 {
    color: #000000d9;
    margin-top: 10px;
    /* padding-top: 10px; */
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
}

/* first-row-ended */
/* second-row-started */

.second {
    width: 100%;
    height: 230px;
    background-color: none;
}
.second-row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* background-color: #666; */
}
.second-row>.column {
    border: 1px solid #8dc63f;
    border-radius: 5px;
    width: 230px;
    height: 220px;
}